/* ----reset---- */
* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

a,
a:visited,
a:focus,
a:active,
a:hover {
	outline: 0 none !important;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	text-decoration: none;
}
button {
	box-sizing: border-box;
}
button:active,
button:focus {
	outline: none !important;
}

button::-moz-focus-inner {
	border: 0 !important;
}

input {
	outline: none;
	box-sizing: border-box;
}
ul,li {
	list-style: none;
}
/* --------- */
.font-white {
	color: #fff;
}
.font-black {
	color: #000;
}
.section--blue {
	background-color: #1066E8;
}







.trans {
	padding-top: 115px;
	padding-bottom: 37px;
}

.calc {
	padding-top: 90px;
	padding-bottom: 115px;
}

.why {
	padding-top: 70px;
	padding-bottom: 35px;
	margin-bottom: 92px;
}
.slide-brend {
	padding-top: 70px;
	padding-bottom: 90px;
}
.consult {
	padding-top: 90px;
	padding-bottom: 70px;
}
.to-work {
	padding-top: 70px;
	padding-bottom: 100px;
}
.slide-portfolio {
	padding-top: 70px;
	padding-bottom: 90px;
}
.slide-certif {
	padding-top: 70px;
	padding-bottom: 90px;
}
.contract {
	padding-top: 70px;
	padding-bottom: 160px;
}
.reviews {
	padding-top: 70px;
	padding-bottom: 90px;
}
.answers {
	padding-top: 60px;
	padding-bottom: 50px;
}
















html,
input,
button {
	font-family: 'Montserrat', sans-serif;
	color: #000;
}
body,
.nav__fixed {
	max-width: 2000px;
	margin: 0 auto;
}
header,
section,
footer {
	overflow: hidden;
}
section {
	position: relative;
	overflow: hidden;
	/* border: 1px solid #000; */
	/* padding-top: 90px;
	padding-bottom: 40px; */
}

div {
	/* border: 1px solid #000; */
}
.modal__form {
	/* overflow: auto; */
	padding: 0;
	overflow: visible;
}
.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 15px;
}
.header {
	position: relative;
	
	padding-bottom: 50px;
	background-image: url('../img/header.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: right;
}
.header::before {
	position: absolute;
	content: '';
	width: 100%;
	height: 100%;
	background: linear-gradient(88.32deg, #043681 61.03%, rgba(22, 97, 210, 0) 102.2%);
	opacity: 0.9;
}

/* -----fixed----- */
.nav__fixed {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 100;
	transition: all 0.3s;
}
.nav__fixed.fixed-top {
	background-color: #043681;
	transition: all 0.3s;
	box-shadow: 0 0 14px rgba(0, 0, 0, 0.5);
}
.fixed-top .nav__header {
	height: 91px;
	transition: all 0.3s;
}
/* --------------- */

.nav__header,
.nav__footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.nav__header {
	color: #fff;
	height: 125px;
}
.nav__header a {
	color: #fff;
}
.nav-logo,
.nav__footer .nav-logo {
	width: 110px;
	/* margin-right: 36px; */
}
.nav-logo img,
.nav__footer .nav-logo img {
	width: 100%;
	height: auto;
}
.nav-desc,
.nav__footer .nav-desc {
	width: 228px;
	font-weight: 400;
	font-size: 11px;
	line-height: 1.7;
}
.menu__header,
.nav__footer .menu__header {
	width: 100%;
	max-width: 400px;
}
.menu__header ul,
.nav__footer .menu__header ul {
	display: flex;
	justify-content: space-between;
}
.nav-item,
.nav__footer .nav-item {
	/* display: inline-block; */
	/* margin-right: 22px; */
	font-weight: 400;
	font-size: 14px;
	transition: all 0.2s;
}
.nav-item:hover {
	transition: all 0.2s;
	font-weight: bold;
}
.nav-item:last-child{
	margin-right: 0;
}

.nav__header .nav-c__wrap,
.nav__footer .nav-c__wrap {
	display: flex;
	flex-direction: column;
}

.nav__header .nav-contact,
.nav__footer .nav-contact {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	max-width: 246px;
}
.nav-c__viber,
.nav-c__viber {
	position: relative;
	width: 37px;
	height: 37px;
	border-radius: 50%;
	background: linear-gradient(142.57deg, #2FBE63 13.38%, #50D28C 103.21%);
}
.nav-c__viber::before {
	position: absolute;
	content: '';
	top: 50%;
	left: 50%;
	width: 22px;
	height: 20px;
	background-image: url('../img/radio-input-sprite.svg');
	background-repeat: no-repeat;
	background-position: -23px -22px;
	background-size: auto 47px;
	transform: translate(-50%, -50%);
}
.nav-c__phone {
	font-weight: 600;
	font-size: 20px;
	line-height: 1.5;
}
.nav-c__modal {
	font-weight: 400;
	font-size: 12px;
	text-decoration: underline;
}

/* ----------------- */
.header__main-wrap {
	position: relative;
	display: flex;
	justify-content: space-between;
	padding-top: 150px;
	z-index: 1;
}
.header__main-wrap::after {
	position: absolute;
	content: '';
	left: -368px;
	bottom: 81px;
	width: 238px;
	height: 305px;
	background-image: url('../img/header-fon1.png');
	background-repeat: repeat;
	background-size: 238px;
	z-index: -1;
}
.header__main-wrap::before {
	position: absolute;
	content: '';
	left: -367px;
	bottom: -152px;
	width: 309px;
	height: 536px;
	background-image: url('../img/header-fon-smoke.png');
	background-repeat: repeat;
	background-size: 309px;
	z-index: -1;
}
.header__main {
	color: #fff;
}
.header__main h1 {
	width: 100%;
	max-width: 600px;
	font-weight: bold;
	font-size: 40px;
	line-height: 1.5;
	margin-bottom: 40px;
}
.header__present {
	position: relative;
	width: 417px;
	height: 64px;
	border-radius: 5px;
	padding: 23px 79px 24px 42px;
	font-weight: 500;
	font-size: 14px;
	margin-bottom: 40px;
}
.header__present::before {
	position: absolute;
	content: '';
	right: -22px;
	top: 50%;
	width: 73px;
	height: 73px;
	background-color: #fff;
	background-image: url('../img/main-sprite.svg');
	background-repeat: no-repeat;
	background-position: -273px 16px;
	border-radius: 50%;
	transform: translateY(-50%);
}
.header__present span {
	font-weight: bold;
}
.block--yellow1 {
	background: linear-gradient(354.77deg, #F2BE37 -2.79%, #FAD874 49.88%, #FFE99B 83.63%);
	color: #000;
}
.block--yellow2 {
	background: linear-gradient(180deg, #F2BE37 0%, #FFE99B 100%);
	color: #000;
}
.header__main-desc {
	width: 100%;
	max-width: 523px;
	margin-bottom: 40px;
	font-weight: 500;
	font-size: 17px;
	line-height: 1.8;
}
.header__main ul {
	width: 100%;
	max-width: 665px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.header__main li {
	position: relative;
	padding-left: 75px;
	width: 305px;
	font-weight: 500;
	font-size: 15px;
	line-height: 1.7;
	margin-bottom: 35px;
	/* border: 1px solid #000; */
}
.header__main li::before {
	position: absolute;
	content: '';
	left: 0;
	top: 50%;
	width: 50px;
	height: 44px;
	background-image: url('../img/main-sprite.svg');
	background-repeat: no-repeat;
	background-position: 0 0;
	transform: translateY(-50%);
}
.header__main li:nth-child(2)::before {
	background-position: -68px 0;
}
.header__main li:nth-child(3)::before {
	background-position: -138px 0;
}
.header__main li:nth-child(4)::before {
	background-position: -218px 0;
}

.main__form {
	/* display: flex;
	flex-direction: column;
	align-items: center; */
	background-color: #fff;
	border: 1px solid #EEF0F3;
	border-radius: 20px;
}
.main__form .form__border {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.form__border {
	padding: 25px;
}
.main__form-inner {
	position: relative;
	padding: 18px 13px;
	z-index: 1;
	background-color: #fff;
	width: 100%;
	max-width: 430px;
	border-radius: 20px;
}
.form__inner-after {
	position: relative;
	width: 100%;
	max-width: 430px;
	max-height: 556px;
	border-radius: 20px;
	background-color: #fff;
	z-index: 1;
	box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.05);
}
.form__inner-after::before {
	content: '';
	position: absolute;
	left: 50%;
	bottom: -9px;
	width: 410px;
	height: 60px;
	border-radius: 20px;
	background-color: #F0F1F4;
	transform: translateX(-50%);
	z-index: -1;
}
.form__title {
	font-weight: 600;
	font-size: 18px;
	line-height: 1.6;
	text-align: center;
	width: 100%;
	/* max-width: 300px; */
	margin-bottom: 20px;
}
.form__cont {
	font-weight: 400;
	font-size: 12px;
	line-height: 15px;
	text-align: center;
	margin-bottom: 25px;
}
.radio__wrap {
	width: 354px;
	display: flex;
	border: 1px solid #1066E8;
	border-radius: 5px;
	margin-bottom: 24px;
	overflow: hidden;
}
.radio__wrap .radio__item {
	position: relative;
	width: 100%;
	max-width: 118px;
	height: 43px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: 400;
	font-size: 11px;
	cursor: pointer;
}
.radio__wrap .radio__item:nth-child(2) {
	border-left:1px solid #1066E8;
	border-right: 1px solid #1066E8;
}
.radio__item input {
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0;
	z-index: 2;
	cursor: pointer;

}
.radio__item span {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	display: flex;
	align-items: center;
	justify-content: center;
}
.radio__item-block {
	padding-left: 10px;
}
.radio__item-block::before {
	position: absolute;
	content: '';
	top: 50%;
	left: 10px;
	width: 12px;
	height: 12px;
	background-image: url('../img/radio-input-sprite.svg');
	background-repeat: no-repeat;
	transform: translateY(-50%);
}

/* radio__item-phone */
#radio-phone:checked + .radio__item-phone {
	background-color: #1066E8;
	color: #fff;
}
.radio__item-phone::before {
	background-position: 0 0;
	left: 23px;
}
#radio-phone:checked + .radio__item-phone::before {
	background-position: 0 -17px;
}
/* radio__item-whatsapp */
#radio-whatsapp:checked + .radio__item-whatsapp {
	background-color: #1066E8;
	color: #fff;
}
.radio__item-whatsapp::before {
	background-position: -18px 0px;
	left: 17px;
}
#radio-whatsapp:checked + .radio__item-whatsapp::before {
	background-position: -18px -17px;
}
/* radio__item-viber */
#radio-viber:checked+.radio__item-viber {
	background-color: #1066E8;
	color: #fff;
}
.radio__item-viber::before {
	background-position: -36px 0px;
	left: 30px;
}
#radio-viber:checked+.radio__item-viber::before {
	background-position: -37px -17px;
}
/* -------- */

.form-input__tel {
	width: 354px;
	height: 75px;
	background: #F7F7F7;
	box-shadow: inset 0px 0px 10px #E7E7E7;
	border: none;
	border-radius: 10px;
	font-weight: 500;
	font-size: 18px;
	color: #1e1e1e;
	padding: 26px 42px;
	margin-bottom: 22px;
	transition: all 0.2s;
}
.input-left {
	padding-left: 88px;
}
.btn {
	display: flex;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	border-radius: 10px;
	width: 354px;
	height: 75px;
	transform: translateY(0);
	transition: all 0.2s;
	cursor: pointer;
	
}
.btn:hover {
	transform: translateY(-1px);
	transition: all 0.2s;
}
.btn--blue:hover {
	box-shadow: 0px 3px 0px #1661D2;
}
.btn:active {
	box-shadow: none;
	transform: translateY(0);
	transition: all 0.2s;
}
.btn__form {
	margin-bottom: 22px;
}
.btn--blue {
	background: linear-gradient(180deg, #4992FF 0%, #146BED 92.67%);
	border: 1px solid #4791FF;
	box-shadow: 0px 1px 0px #1661D2;
	font-size: 18px;
	font-weight: bold;
	color: #fff;
}
.btn__form:disabled,
.btn__form[disabled] {
	color: #fff;
	/* background-color: #a72828b7; */
	cursor: not-allowed;
}

/* btn btn__form btn--blue */
.form__checkbox-wrap {
	/* position: relative;
	display: flex;
	align-items: center;
	justify-content: center; */
	text-align: center;
}
.form__checkbox-desc::before {
	content: '';
	position: absolute;
	top: 0;
	left: 42px;
	width: 20px;
	height: 20px;
	background-color:#F0F0F0;
	border-radius: 5px;
	/* transform: translateY(-50%); */
	background-repeat: no-repeat;
	background-position: center;
}
.form__checkbox-wrap input {
	position: absolute;
	left: 75px;
	width: 130px;
	height: 25px;
	opacity: 0;
	z-index: 2;
	cursor: pointer;
}
.form__checkbox-desc {
	position: relative;
	display: inline-block;
	z-index: 1;
	width: 354px;
	height: 20px;
	padding-top: 4px;
	padding-left: 40px;
	/* padding-left: 50px; */
	text-align: center;
}
.form__checkbox-desc,
.form__checkbox-desc a {
	font-weight: 400;
	font-size: 10px;
	color: #555555;
	/* cursor: pointer; */
}
.form__checkbox-desc a {
	text-decoration: underline;
}
.form__checkbox-wrap input:checked + .form__checkbox-desc::before {
	/* background-color: #ffffff; */
	background-image: url('../img/check-form.svg');
}
.form__footer {
	border-top: 1px solid #EEF0F3;
	width: 100%;
	text-align: center;
	padding: 25px 0;
}
.form__footer,
.form__footer a {
	font-weight: normal;
	font-size: 12px;
	color: #000
}

/* section trans */
.trans__wrap {
	display: flex;
	justify-content: space-between;
}
.trans-l {
	background-image: url('../img/trans-l.png');
	background-repeat: no-repeat;
	width: 609px;
	height: 545px;
	background-size: auto;
}
h2 {
	font-size: 38px;
	line-height: 1.5;
}
.trans-l {
	margin-left: -109px;
	margin-top: 25px;
}
.trans-r {
	width: 100%;
	max-width: 600px;
}
.trans-r h2 {
	margin-bottom: 70px;
}
.trans-r li {
	position: relative;
	font-weight: 500;
	font-size: 17px;
	line-height: 1.8;
	padding-left: 90px;
	margin-bottom: 54px;
}
.trans-r li span {
	font-weight: bold;
	font-size: 21px;
}
.trans-r li::before {
	position: absolute;
	content: '';
	top: 50%;
	left: 0;
	width: 54px;
	height: 54px;
	background-image: url('../img/main-sprite.svg');
	background-repeat: no-repeat;
	background-position: -349px 0;
	transform: translateY(-50%);
}
.trans-r li:nth-child(2)::before {
	background-position: -425px 0;
}
.trans-r li:nth-child(3)::before {
	background-position: -500px 0;
}

/* section calc */
section.calc {
	/* padding-top: 26px; */
	background-image: url('../img/calc.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}
.calc__wrap {
	width: 100%;
	max-width: 1030px;
	margin: 0 auto;
	background: #FFFFFF;
	box-shadow: 0px 7px 30px rgba(0, 0, 0, 0.1);
	border-radius: 10px;
	padding: 66px 97px;
}
.calc__items-wrap {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.calc__items {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.section-desc {
	font-weight: 500;
	font-size: 17px;
	text-align: center;
	margin-bottom: 60px;
}
.section-title {
	text-align: center;
	margin-bottom: 22px;
}
h2.title--small {
	font-size: 34px;
	margin-bottom: 70px;
}

.calc__item {
	position: relative;
	width: 400px;
	height: 131px;
	/* background: #1066E8; */
	background-color: #fff;
	box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.1);
	border-radius: 7px;
	display: flex;
	align-items: center;
	margin-bottom: 34px;
}
.calc__item:last-child {
	margin-bottom: 60px;
}
.calc__text {
	font-weight: 500;
	font-size: 17px;
	line-height: 1.7;
	text-decoration-line: underline;
	color: #000;
	padding-left: 130px;
	padding-right: 37px;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0px;
	z-index: 1;
	display: flex;
	align-items: center;
	border-radius: 7px;
}
.calc__text::before {
	position: absolute;
	content: '';
	top: 50%;
	left: 40px;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: #1066E8;
	transform: translateY(-50%);
}
.calc__text::after {
	position: absolute;
	content: '';
	top: 50%;
	left: 40px;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-image: url('../img/main-sprite.svg');
	background-repeat: no-repeat;
	background-position: -700px 10px;
	transform: translateY(-50%);
}
.calc__item input {
	position: absolute;
	width: 100%;
	height: 100%;
	cursor: pointer;
	z-index: 2;
	opacity: 0;
}
.calc__check:checked + .calc__text {
	background-color: #1066E8;
	color: #fff;
}
.calc__check:checked + .calc__text::before {
	background: linear-gradient(180deg, #F2BE37 0%, #FFE99B 100%);
}
.calc__check:checked+.calc__text::after {
	background-position: -669px 10px;
}
.step-button__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.current-step {
	/* position: absolute;
	bottom: 28px;
	right: 0px; */
	width: 105px;
	font-weight: 500;
	font-size: 18px;
}
.btn-calc-prev {
	font-weight: 500;
	font-size: 18px;
	border: none;
	background-color: transparent;
	color: #939393;
	cursor: pointer;
}
.btn-calc-prev:hover,
.btn-calc-prev:active,
.btn-calc-prev:focus {
	color: #000;
	/* text-decoration: underline; */
}

/* section why */
.why {
	text-align: center;
	color: #fff;
}

.why__wrap ul {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.why__wrap li {
	position: relative;
	text-align: left;
	width: 570px;
	height: 189px;
	background: #FFFFFF;
	border-radius: 5px;
	font-weight: 500;
	font-size: 17px;
	line-height: 1.9;
	color: #000;
	display: flex;
	align-items: center;
	padding-left: 250px;
	padding-right: 43px;
	margin-bottom: 47px;
	z-index: 2;
}
.why__wrap li::before {
	position: absolute;
	content: '';
	bottom: -8px;
	left: 50%;
	width: 550px;
	height: 8px;
	border-radius: 0 0 5px 5px;
	background-color: #E7E7E7;
	transform: translateX(-50%);
	z-index: -1;
}
.why__wrap li:after {
	position: absolute;
	content: '';
	left: 60px;
	top: 50%;
	width: 137px;
	height: 137px;
	background-image: url('../img/why-sprite.png');
	background-repeat: no-repeat;
	background-position: 1px -35px;
	transform: translateY(-50%);
}
.why__wrap li:nth-child(2)::after {
	background-position: -235px -31px;
}
.why__wrap li:nth-child(3)::after {
	background-position: -461px -31px;
}
.why__wrap li:nth-child(4)::after {
	background-position: -708px -31px;
}

/* section slide-brend */

.main-slider {
	width: 100%;
	max-width: 980px;
	margin: 0 auto;
}
.main-slider .slick-slide {
	padding: 20px 14px;
}
.slide-certif__items img {
	box-shadow: 0 0 9px #ccc;
}

.main-slider .slick-dots li button {
	width: 14px;
	height: 14px;
	border-radius: 50%;
	position: relative;
}

.main-slider .slick-dots li button::before {
	top: 50%;
	left: 50%;
	width: 10px;
	height: 10px;
	content: '';
	opacity: 0;
	border-radius: 50%;
	transform: translate(-50%, -50%);
}
.slider--blue-theme .slick-dots li button::before {
	background-color: #1066E8;
}
.slider--blue-theme .slick-dots li button {
	background: #fff;
}

.main-slider .slick-dots li.slick-active button::before {
	opacity: 1;
}

.main-slider .slick-dots {
	bottom: -54px;
}

.main-slider .slick-dots li {
	width: 14px;
	height: 14px;
	margin: 0 15px;
}

.main-slider .slick-prev,
.main-slider .slick-next {
	width: 54px;
	height: 54px;
	background: rgba(255, 255, 255, 0.7);
	border-radius: 50%;
}

.main-slider .slick-next::before {
	content: '';
	background-image: url('../img/arrow-sprite.svg');
	background-repeat: no-repeat;
	background-position: 0 0;
}

.main-slider .slick-prev:hover,
.main-slider .slick-next:hover,
.main-slider .slick-next:focus,
.main-slider .slick-prev:focus {
	background: #fff;
}

.main-slider .slick-prev::before,
.main-slider .slick-next::before {
	content: '';
	background-image: url('../img/arrow-sprite.svg');
	background-repeat: no-repeat;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 17px;
	height: 20px;
	transform: translate(-50%, -50%);
}
.main-slider .slick-prev::before {
	background-position: 2px 1px;
}
.main-slider .slick-next::before {
	background-position: -21px 1px;
}
.main-slider .slick-next {
	right: -95px;
}
.main-slider .slick-prev {
	left: -95px;
}

/* section consult */
section.consult {
	overflow: inherit;
}
.consult::before {
	position: absolute;
	content: '';
	left: 0;
	bottom: -140px;
	width: 293px;
	height: 646px;
	background-image: url('../img/consult-l.png');
	background-repeat: no-repeat;
	background-size: 293px;
	z-index: -1;

}
.consult::after {
	position: absolute;
	content: '';
	right: 30px;
	bottom: 50%;
	width: 228px;
	height: 185px;
	background-image: url('../img/consult-r.png');
	background-repeat: no-repeat;
	background-size: 228px;
	/* z-index: 2; */
	transform: translateY(50%);
}
.consult__wrap {
	display: flex;
	justify-content: space-between;
}
.consult__main {
	width: 100%;
	max-width: 723px;
	margin-top: 70px;
}
.consult__main h2 {
	font-size: 34px;
	margin-bottom: 55px;
}

.consult__main-desc {
	max-width: 600px;
	padding: 25px 27px;
	border-radius: 5px;
	font-weight: 500;
	font-size: 17px;
	line-height: 1.8;
}

/* section to-work */
.to-work__items {
	background-image: url('../img/to-work-line.svg');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: 0 50px;
}
.to-work ul {
	display: flex;
	justify-content: space-around;
	max-width: 1440px;
	margin: 0 auto;
}
.to-work li {
	/* border: 1px solid #000; */

	position: relative;
	width: 100%;
	max-width: 245px;
	height: 360px;
	padding-top: 220px;
	text-align: center;
	font-weight: 500;
	font-size: 17px;
	line-height: 1.8;
}
.to-work__items li span {
	font-weight: 600;
}
.to-work li::before {
	position: absolute;
	content: '';
	top: 0;
	left: 50%;
	width: 141px;
	height: 141px;
	border-radius: 50%;
	background-color: #1066E8;
	transform: translateX(-50%);
}
.to-work li::after {
	position: absolute;
	content: '';
	top: 0;
	left: 50%;
	width: 205px;
	height: 130px;
	background-image: url('../img/to-work-sprite.png');
	background-repeat: no-repeat;
	background-position: 0 -9px;
	transform: translateX(-50%);
}
.to-work li:nth-child(1) {
	margin-top: 66px;
}
.to-work li:nth-child(2) {
	margin-top: 25px;
}
.to-work li:nth-child(2)::after {
	background-position: -325px -7px;
}
.to-work li:nth-child(3) {
	margin-top: 49px;
}
.to-work li:nth-child(3)::after {
	background-position: -671px -13px;
}
.to-work li:nth-child(4) {
	margin-top: 81px;
}
.to-work li:nth-child(4)::after {
	background-position: -1017px -7px;
}
.to-work  a.btn:nth-child(1) {
	margin-left: -52px;
}

/* section slide-portfolio */
.slide-portfolio__items .slick-slide {
	padding: 0 55px;
}


/* section slide-certif */
.slider--white-theme .slick-prev,
.slider--white-theme .slick-next {
	    background: RGBA(16, 102, 232, 0.8);
}

.slider--white-theme .slick-next::before {
	background-position: -66px 1px;
}

.slider--white-theme .slick-prev::before {
	background-position: -47px 1px;
}

.slider--white-theme .slick-dots li button::before {
	background-color:RGB(242, 190, 55);
}

.slider--white-theme .slick-dots li button::before {
	width: 14px;
	height: 14px;
}

.slider--white-theme .slick-dots li button {
	    background: RGB(16, 102, 232);
}
.slider--white-theme .slick-prev:hover,
.slider--white-theme .slick-next:hover,
.slider--white-theme .slick-next:focus,
.slider--white-theme .slick-prev:focus {
	background: RGB(16, 102, 232);
}

/* section contract */
.contract::before {
	position: absolute;
	content: '';
	left: 70px;
	top: 50%;
	width: 129px;
	height: 255px;
	background-image: url('../img/contract-l-pen.png');
	background-repeat: no-repeat;
	background-size: 129px;
	transform: translateY(-50%);
	z-index: -1;
}


.contract__wrap {
	display: flex;
	justify-content: space-between;
}
.contract-l {
	width: 100%;
	max-width: 655px;
}
.contract-l h2 {
	margin-bottom: 53px;
}
.contract-l li {
	position: relative;
	font-weight: 500;
	font-size: 17px;
	line-height: 1.9;
	padding-left: 70px;
	margin-bottom: 30px;
}
.contract-l li::before {
	position: absolute;
	content: '';
	top: 50%;
	left: 0;
	width: 43px;
	height: 48px;
	background-image: url('../img/main-sprite.svg');
	background-repeat: no-repeat;
	background-position: -565px 0;
	transform: translateY(-50%);
}
.contract-l li:nth-child(2)::before {
	background-position: -621px 0;
}
.contract-r {
	position: relative;
	width: 422px;
	height: 333px;
	flex-shrink: 0;
	background-color: #1066E8;
	border-radius: 5px;
	background-image: url('../img/contract-r-price.png');
	background-repeat: no-repeat;
	background-position: center 30px;
}
.contract-r a{
	position: absolute;
	bottom: -54px;
	left: calc(50% - 177px);
	/* transform: translateX(-50%); */
}

/* section reviews */
.slide-reviews .slick-slide {
	padding: 0 17px;
	padding: 0 23px;
}

/* section answers */
.answers__wrap {
	display: flex;
	justify-content: space-between;
}
.answers__main {
	width: 100%;
	max-width: 600px;
}
.answers__main h2 {
	margin-bottom: 50px;
}

.accordion {
	/* border: 1px solid black; */

	position: relative;
	font-weight: normal;
	font-size: 16px;
	color: #FFFFFF;
	/* margin-bottom: 25px; */
	cursor: pointer;
	background: #1066E8;
	border-radius: 10px;
	width: 600px;
	height: 70px;
	display: flex;
	align-items: center;
	padding: 26px 35px;
	user-select: none;
}
.accordion:before{
	position: absolute;
	content: '';
	top: 30px;
	right: 38px;
	width: 18px;
	height: 10px;
	background-image: url('../img/arrow-sprite.svg');
	background-repeat: no-repeat;
	background-position: -92px 0px;
	transition: all 0.3s;
}
.rotate::before {
	transform: rotate(180deg);
	transition: all 0.3s;
}
.accordion-content {
	/* border: 1px solid red; */

	background-color: RGBA(16, 102, 232, 0.1);
	padding: 0 20px;
	max-height: 0;
	overflow: hidden;
	-webkit-transition: max-height 0.2s ease-in-out;
	transition: max-height 0.2s ease-in-out;
	color: #000;
	font-size: 14px;
	line-height: 30px;
	margin-bottom: 33px;
	width: 580px;
	margin-left: 10px;
	border-radius: 0 0 10px 10px;
}

.accordion-content p {
	padding-top: 10px;
	padding-bottom: 10px;
}
.answer__form {
	margin-top: 25px;
}

/* -----map----- */
.contact {
	position: relative;
}

.contact__map-wrap iframe {
	width: 100%;
	height: 680px;
}

.scrolloff {
	pointer-events: none;
}

.contact__form-wrap {
	position: absolute;
	top: 50%;
	left: 60%;
	max-width: 402px;
	background: #FFFFFF;
	border-radius: 15px;
	/* border: 1px solid red; */
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	-webkit-box-shadow: 0 0 15px rgb(113, 113, 113);
	box-shadow: 0 0 15px rgb(113, 113, 113);
}

.contact__form {
	border: 1px solid #D1D1D1;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	border-radius: 15px;
	margin: 16px 13px;
	padding: 20px 27px;
	font-size: 18px;
	line-height: 30px;
}

.contact__form-title {
	margin-bottom: 45px;
	font-weight: bold;
	font-size:35px;
	color: #000000;
}

.contact__form>p:nth-child(2) {
	margin-bottom: 0;
}

.contact__form>p:nth-child(3) {
	margin-bottom: 25px;
}

.contact__form>p:nth-child(4) {
	margin-bottom: 40px;
}

.contact__form p span {
	font-weight: bold;
}

.contact__form .contact__phone {
	display: inline-block;
	margin-bottom: 25px;
	font-weight: 600;
	font-size: 33px;
	text-decoration: none;
	color: #000000;
}

.contact__phone:hover {
	color: #1066E8;
}

.form-main__w {
	display: inline-block;
	width: 34px;
	height: 34px;
	background-image: url('../img/radio-input-sprite.svg');
	background-repeat: no-repeat;
	background-position: -65px 0;
	margin: 5px;
}
.form-main__v {
	display: inline-block;
	width: 34px;
	height: 34px;
	background-image: url('../img/radio-input-sprite.svg');
	background-repeat: no-repeat;
	background-position: -114px 0;
	margin: 5px;
}
.form-main__v.mobile {
	display: none;
}
.form-main__contact {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}
.nav__footer a {
	color: #000;
}
.calc__items .main__form-inner {
	max-width: 550px;
	/* box-shadow: 0 0 24px #cacaca; */
}
.calc-form__sale {
	background: #2FBE63;
	border-radius: 5px;
	font-weight: 600;
	font-size: 12px;
	color: #FFFFFF;
	padding: 8px 16px;
	margin-bottom: 20px;
}
#map2 {
	display: none;
}

/* media */
@media(max-width:1500px) {
	.header__main-wrap::before {
		left: -164px;
	}
	.header__main-wrap::after {
		left: -235px;
	}
	.to-work li:nth-child(1) {
		margin-top: 11px;
	}
	.to-work li:nth-child(4) {
		margin-top: 34px;
	}
	.contract::before {
		left: 0;
	}
}

@media(max-width:1440px) {
	.container {
		max-width: 1200px;
	}
	.header__main-wrap::before {
		bottom: -117px;
	}
	.header__main-wrap::before {
		left: -135px;
	}
	.header__main-wrap::after {
		left: -141px;
	}
	.header__main-wrap::after {
		bottom: -123px;
		opacity: 0.7;
	}
	.contract::before {
		left: -48px;
	}
}

@media(max-width:1366px) {
	.container {
		max-width: 1140px;
	}

	.trans-r h2 {
		margin-bottom: 40px;
	}

	.trans-r li {
		font-size: 16px;
		padding-left: 82px;
		margin-bottom: 35px;
	}

	.trans-r li span {
		font-size: 19px;
	}

	.trans-r {
		max-width: 551px;
	}

	.why__wrap li::before {
		width: 495px;
	}

	.why__wrap li {
		width: 520px;
		padding-left: 220px;
	}

	.why__wrap li::after {
		left: 40px;
	}
	.to-work ul {
		justify-content: space-evenly;
	}
}

@media(max-width:1280px) {
	.container {
		max-width: 960px;
	}

	.nav-desc,
	.nav__footer .nav-desc {
		width: 157px;
	}

	.menu__header,
	.nav__footer .menu__header {
		max-width: 368px;
	}

	.nav__header .nav-contact,
	.nav__footer .nav-contact {
		max-width: 231px;
	}

	.main__form-inner {
		max-width: 360px;
	}

	.form__inner-after {
		max-width: 360px;
		max-height: 473px;
	}

	.btn {
		width: 270px;
		height: 57px;
	}

	.form-input__tel {
		width: 270px;
		height: 57px;
		font-size: 17px;
		padding: 13px 31px;
		margin-bottom: 18px;
	}

	.radio__wrap .radio__item {
		max-width: 100px;
		height: 40px;
	}

	.radio__wrap {
		width: 300px;
	}

	.radio__item-phone::before {
		left: 10px;
	}

	.radio__item-block {
		padding-left: 16px;
	}

	.radio__item-whatsapp::before {
		left: 7px;
	}

	.radio__item-viber::before {
		left: 18px;
	}

	.form__title {
		font-size: 17px;
		line-height: 1.5;
		margin-bottom: 18px;
	}

	.btn--blue {
		font-size: 17px;
	}

	.form__border {
		padding: 19px;
	}

	.input-left {
		padding-left: 46px;
	}

	.form__cont {
		margin-bottom: 22px;
	}

	.btn__form {
		margin-bottom: 18px;
	}

	.form__footer {
		padding: 18px 0;
	}

	.form__inner-after::before {
		width: 333px;
	}
	.main__form form {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.header__main h1 {
		font-size: 35px;
		line-height: 1.4;
		margin-bottom: 23px;
	}

	.header__present {
		margin-bottom: 29px;
	}

	.header__main li {
		padding-left: 54px;
		width: 276px;
	}
	.header__main-wrap::before {
		left: -175px;
	}

	.header__main-wrap::after {
		bottom: -35px;
	}

	.header__main-wrap::after {
		left: -186px;
	}


	.header__main-wrap {
		padding-top: 140px;
	}

	.form__inner-after {
		margin-top: 40px;
	}


	h2 {
		font-size: 35px;
		line-height: 1.4;
	}

	.form__checkbox-wrap input {
		left: 19px;
		width: 173px;
	}

	.trans {
		padding-top: 70px;
	}

	.trans-r h2 {
		margin-bottom: 30px;
	}

	.trans-r li span {
		font-size: 17px;
	}

	.trans-r li {
		font-size: 14px;
	}

	.trans-r {
		max-width: 493px;
	}

	.trans-l {
		margin-left: -132px;
		margin-top: 57px;
	}

	.trans-l {
		height: 451px;
		background-size: 500px;
	}

	.calc__wrap {
		max-width: 736px;
		padding: 30px 53px;
	}

	.section-desc {
		margin-bottom: 45px;
	}

	.section-title {
		margin-bottom: 14px;
	}

	.calc__item {
		width: 300px;
		height: 88px;
	}

	.calc__text {
		font-size: 14px;
		line-height: 1.5;
		padding-left: 102px;
		padding-right: 10px;
	}

	.calc__text::before {
		left: 27px;
	}

	.calc__text::after {
		left: 27px;
	}

	.calc__items {
		min-height: 600px;
	}

	/* .calc__items .main__form-inner {
		max-width: 360px;
	} */

	.calc-form__sale {
		text-align: center;
	}

	.why__wrap li {
		width: 440px;
		padding-left: 156px;
	}

	.why__wrap li::after {
		left: 10px;
	}

	.why__wrap li::before {
		width: 419px;
	}
	.why__wrap li::after {
		background-position: 16px -8px;
		background-size: 600px;
	}

	.why__wrap li {
		height: 142px;
	}

	.why__wrap li:nth-child(2)::after {
		background-position: -147px -3px;
	}

	.why__wrap li:nth-child(3)::after {
		background-position: -306px -5px;
	}

	.why__wrap li:nth-child(4)::after {
		background-position: -483px -5px;
	}

	.to-work a.btn:nth-child(1) {
		margin-left: -10px;
	}
	.consult__main-desc {
		max-width: 500px;
		padding: 18px 21px;
	}

	.consult {
		padding-top: 70px;
	}

	h2.title--small {
		margin-bottom: 50px;
	}
 .slide-certif__items .slick-slide {
		padding: 20px 34px;
	}

	.contract-r a {
		bottom: -30px;
		left: calc(50% - 133px);
	}

	.contract {
		padding-bottom: 90px;
	}

	.accordion {
		width: 460px;
	}

	.accordion-content {
		width: 437px;
	}
	.contact__form-wrap {
		left: 54%;
	}

	.contact__map-wrap iframe {
		height: 570px;
	}
	.main-slider {
		max-width: 740px;
	}
	.slide-brend__items .slick-slide {
		padding: 0 34px;
	}
	.slide-reviews .slick-slide {
		padding: 0 48px;
	}
	.contract::before {
		opacity: 0.4;
	}

	.consult::before {
		opacity: 0.7;
	}

	.consult::after {
		opacity: 0.7;
	}
}

@media(max-width:960px) {
	.container {
		max-width: 720px;
	}

	.header__form {
		display: none;
	}

	.nav__header .nav-desc {
		display: none;
	}

	.nav__header .menu__header {
		display: none;
	}

	.nav__header .nav-contact {
		max-width: 392px;
	}


	.nav__header .nav-c__wrap {
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: flex-end;
	}

	.fixed-top .nav-logo {
		width: 80px;
	}

	.fixed-top .nav-c__phone {
		font-size: 17px;
	}

	.fixed-top .nav-c__modal {
		font-size: 11px;
		margin-top: 3px;
	}

	.fixed-top .nav__header {
		height: 60px;
	}

	.nav-logo img {
		margin-top: 6px;
	}

	.nav__header .nav-c__viber {
		display: none;
	}

	.nav__header .nav-c__phone:nth-child(1) {
		margin-right: 20px;
	}

	.nav__header {
		height: 110px;
	}

	.header__main-wrap {
		padding-top: 120px;
	}

	.header__main h1 {
		margin-bottom: 30px;
	}

	.header__present {
		margin-bottom: 35px;
	}

	h2 {
		font-size: 30px;
	}

	.trans-r h2 {
		margin-bottom: 20px;
	}

	.trans-r {
		max-width: 90%;
		z-index: 1;
		background-color: #ffffffd6;
		padding: 20px 45px;
		border-radius: 10px;
		box-shadow: 0 0 20px #0000002e;
		margin: 0 auto;
	}

	.header__main li {
		margin-bottom: 25px;
	}

	.header__main-desc {
		margin-bottom: 25px;
	}

	.trans-r li {
		margin-bottom: 20px;
	}

	.trans-l {
		position: absolute;
		top: 0;
		opacity: 0.6;
	}

	.trans-r li::before {
		background-position: -244px 5px;
		background-size: 530px;
	}

	.calc {
		padding-top: 70px;
	}

	.trans-r li:nth-child(2)::before {
		background-position: -299px 6px;
	}

	.trans-r li:nth-child(3)::before {
		background-position: -352px 4px;
	}

	.trans-r {
		padding: 30px 45px;
		box-shadow: 0px 7px 30px rgba(0, 0, 0, 0.1);
	}

	.calc__wrap {
		padding: 40px 30px;
	}

	.trans-r {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.trans-r>h2:nth-child(1) {
		text-align: center;
	}

	.trans {
		padding-top: 80px;
	}

	.why__wrap li {
		width: 320px;
		height: 119px;
		padding-left: 113px;
	}

	.why__wrap li::before {
		width: 296px;
	}

	.why__wrap li::after {
		left: -14px;
		background-position: 25px 1px;
		background-size: 540px;
	}

	.why__wrap li:nth-child(2)::after {
		background-position: -119px 4px;
	}

	.why__wrap li:nth-child(3)::after {
		background-position: -268px 1px;
	}

	.why__wrap li:nth-child(4)::after {
		background-position: -429px 3px;
	}

	.why__wrap li {
		font-size: 15px;
		line-height: 1.6;
		padding-right: 14px;
	}
	.main-slider {
		max-width: 540px;
	}

	.slide-brend__items .slick-slide {
		padding: 0 66px;
	}

	.main-slider .slick-next {
		right: -73px;
	}

	.main-slider .slick-prev {
		left: -73px;
	}

	.consult__wrap {
		justify-content: center;
		flex-wrap: wrap;
		align-items: center;
	}

	.consult__main {
		max-width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.consult__main h2 {
		font-size: 30px;
		text-align: center;
	}

	.consult__main-desc {
		text-align: center;
	}

	.consult::before {
		bottom: 115px;
	}

	.consult::after {
		/* bottom: 50%; */
		bottom: 144px;
	}

	.consult__main {
		margin-top: 0;
	}
	.to-work__items {
		background-image: url('../img/to-work-line-90.svg');
		background-size: 46px;
		background-position: 80px 43px;
		width: 100%;
		max-width: 540px;
		margin: 0 auto;
	}

	.to-work ul {
		flex-direction: column;
		align-items: center;
	}

	.to-work li {
		max-width: 540px;
		height: 143px;
		padding-top: 0;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: center;
		margin-bottom: 20px;
		padding-left: 183px;
		text-align: left;
	}

	.to-work li::before {
		left: 83px;
		top: 50%;
		width: 100px;
		height: 100px;
		transform: translate(-50%, -50%);
	}

	.to-work a.btn:nth-child(1) {
		margin-left: 0;
	}


	.to-work li:nth-child(1) {
		margin-top: 0;
	}

	.to-work li:nth-child(4) {
		margin-top: 0;
	}
	
	.to-work li:nth-child(2) {
		margin-top: 0;
	}

	.to-work li:nth-child(3) {
		margin-top: 0;
	}

	.to-work li::after {
		top: 50%;
		width: 160px;
		background-position: 4px 5px;
		transform: translate(-50%, -50%);
		background-size: 880px;
		left: 83px;
	}

	.to-work li:nth-child(2)::after {
		background-position: -229px 4px;
	}

	.to-work li:nth-child(3)::after {
		background-position: -480px 0px;
	}

	.to-work li:nth-child(4)::after {
		background-position: -732px 6px;
	}

	.slide-portfolio__items .slick-slide img {
		width: 500px;
		height: auto;
	}

	.slide-portfolio__items .portfolio__item {
		width: 500px;
		height: auto;
	}

	.to-work__items {
		max-width: 570px;
		box-shadow: 0px 7px 30px rgba(0, 0, 0, 0.1);
		border-radius: 10px;
		padding: 20px;
	}
	.slide-certif__items .slick-slide {
		padding: 20px 70px;
	}

	.contract__wrap {
		justify-content: center;
		flex-wrap: wrap;
	}

	.contract-l h2 {
		margin-bottom: 40px;
	}

	.contract-l {
		max-width: 560px;
	}

	.contract::before {
		/* left: -48px; */
		left: 201px;
		top: 454px;
	}

	.contract::before {
		opacity: 0.3;
	}

	.contract-r {
		width: 380px;
		height: 320px;
		background-position: center 29px;
	}

	.slide-reviews .slick-slide {
		padding: 0 67px;
	}

	.answers__wrap {
		justify-content: center;
		flex-wrap: wrap;
	}

	.answers__main {
		max-width: 460px;
		text-align: center;
	}

	.contact__map-wrap iframe {
		height: 441px;
	}

	.contact__form-wrap {
		left: 44%;
	}

	.contact__form-title {
		margin-bottom: 30px;
		font-size: 30px;
	}

	.contact__form .contact__phone {
		font-size: 28px;
	}

	.contact__form {
		padding: 18px 22px;
		font-size: 15px;
	}

	.contact__form-wrap {
		max-width: 341px;
	}

	.nav__footer {
		flex-wrap: wrap;
		align-items: center;
	}

	.nav__footer {
		justify-content: center;
	}

	.nav__footer a {
		flex-shrink: 0;
	}

	.nav__footer .nav-c__viber::before {
		background-position: -22px -22px;
	}

	.nav__footer>div:nth-child(4) {
		max-width: 439px;
	}

	.nav__footer .nav-c__wrap {
		flex-wrap: wrap;
		flex-direction: row;
		align-items: center;
		justify-content: flex-end;
	}

	.nav__footer .nav-c__wrap .nav-c__phone:nth-child(1){
		margin-right: 20px;
	}

	.nav__footer .nav-desc {
		width: 235px;
		margin-bottom: 25px;
		margin-left: 18px;
	}

	.nav__footer .nav-logo {
		width: 80px;
		margin-bottom: 25px;
	}

	footer {
		padding-top: 20px;
		padding-bottom: 30px;
	}

	.nav__footer>nav:nth-child(3) {
		margin-bottom: 15px;
	}
	.form__inner-after {
		margin-top: 20px;
		margin-bottom: 20px;
	}
	.accordion-content p {
		text-align: left;
	}
	.nav__footer .nav-c__viber {
		margin-top: -16px;
	}

}

@media(max-width:720px) {
	.container {
		max-width: 540px;
	}

	.header__main h1 {
		font-size: 30px;
		text-align: center;
	}

	.header__main li {
		padding-left: 68px;
		width: 100%;
		line-height: 1.5;
	}

	.header__main-desc {
		text-align: center;
	}

	h2 {
		font-size: 25px;
	}

	.trans-r {
		padding: 30px 25px;
	}

	.trans-r li::before {
		background-position: -244px 7px;
	}

	.header__main ul {
		max-width: 300px;
	}

	.header__main-wrap {
		justify-content: center;
		flex-direction: column;
		align-items: center;
	}

	.header__main {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.trans-r li {
		padding-left: 73px;
		line-height: 1.6;
	}

	.calc__check:checked+.calc__text::after {
		background-position: -555px 3px;
	}

	.btn-calc-prev {
		font-size: 16px;
		width: 105px;
	}

	.current-step {
		font-size: 16px;
	}

	#next-step {
		width: 210px;
		height: 48px;
		font-size: 15px;
	}
	.calc__items {
		min-height: 600px;
	}
	.calc-form__sale {
		text-align: center;
	}

	.calc {
		padding-top: 50px;
		padding-bottom: 70px;
	}

	.why {
		padding-top: 50px;
		margin-bottom: 70px;
	}

	.why__wrap ul {
		justify-content: center;
	}

	.main-slider .slick-prev {
		left: 0;
		z-index: 2;
	}

	.main-slider .slick-next {
		right: 0;
		z-index: 2;
	}
	.main-slider .slick-dots {
		bottom: -25px;
	}
	.main-slider .slick-dots li {
		width: 10px;
		height: 10px;
	}

	.main-slider .slick-dots li button {
		width: 10px;
		height: 10px;
	}

	.main-slider .slick-dots li button::before {
		width: 8px;
		height: 8px;
	}

	.consult__main h2 {
		font-size: 25px;
	}

	.consult::before {
		bottom: 234px;
	}

	.consult::after {
		bottom: 94px;
		right: 87px;
	}

	.to-work__items {
		max-width: 500px;
		padding: 10px;
	}

	.to-work li {
		height: 115px;
		padding-left: 130px;
		font-size: 15px;
		line-height: 1.6;
	}

	.consult {
		padding-top: 50px;
	}

	.consult__main h2 {
		margin-bottom: 40px;
	}

	.consult__main-desc {
		font-size: 16px;
		line-height: 1.6;
		margin-bottom: 16px;
	}

	h2.title--small {
		font-size: 25px;
	}

	.to-work li::before {
		left: 59px;
		width: 70px;
		height: 70px;
	}

	.to-work li::after {
		width: 99px;
		height: 91px;
		background-position: 8px 10px;
		background-size: 500px;
		left: 59px;
	}

	.to-work li:nth-child(2)::after {
		background-position: -128px 11px;
	}

	.to-work li:nth-child(3)::after {
		background-position: -269px 6px;
	}

	.to-work li:nth-child(4)::after {
		background-position: -413px 8px;
	}

	.to-work__items {
		background-size: 36px;
		background-position: 56px 43px;
	}
	
	.calc__text {
		padding-left: 5px;
		padding-top: 35px;
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 12px;
		text-align: center;
		padding-right: 5px;
	}

	.calc__text::before {
		left: 47px;
		z-index: -1;
		top: 23%;
		width: 35px;
		height: 35px;
	}

	.calc__text::after {
		left: 47px;
		background-size: 600px;
		top: 23%;
		width: 35px;
		height: 35px;
		background-position: -574px 9px;
	}

	.calc__check:checked+.calc__text::after {
		background-position: -549px 9px;
	}

	.calc__wrap {
		padding: 40px 17px;
	}

	.calc__item {
		height: 140px;
		margin-bottom: 17px;
		width: 133px;
	}

	.calc__items-wrap {
		justify-content: space-evenly;
	}
}


@media(max-width:640px) {
	
	.contact__form-wrap {
		position: initial;
		transform: none;
		box-shadow: none;
	}

	.contact__form-wrap {
		max-width: 90%;
		margin: 0 auto;
	}

	.contact__form .contact__phone {
		display: block;
	}

	.contact__form {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	
	.contact__form .contact__phone {
		margin-bottom: 10px;
	}

	.form-main__contact {
		width: 256px;
	}
	#map1 {
		display: none;
	}
	#map2 {
		display: block;
	}

}

@media(max-width:540px) {
	.container {
		max-width: 100%;
	}

	.nav-c__phone {
		font-size: 17px;
	}

	.nav__header {
		height: 81px;
	}

	.header__main-wrap {
		padding-top: 91px;
	}

	.header__main h1 {
		margin-bottom: 25px;
	}

	.header__present {
		margin-bottom: 30px;
	}

	.header__main li {
		margin-bottom: 20px;
	}

	.trans {
		padding-top: 30px;
	}

	.trans-l {
		top: 44px;
		opacity: 1;
		left: 33px;
	}

	.trans-r {
		max-width: 100%;
		background-color: rgba(255, 255, 255, 0.8);
	}

	.header__main h1 {
		font-size: 25px;
	}

	.header__present {
		width: 293px;
		height: 59px;
		padding: 12px 55px 6px 11px;
		text-align: center;
	}

	.header__present::before {
		right: -16px;
		width: 68px;
		height: 68px;
		background-position: -275px 14px;
	}

	.header__main-desc {
		line-height: 1.6;
	}

	.header {
		/* height: 100vh; */
	}

	.trans-l {
		margin-left: 0;
		margin-top: 0;
	}

	.trans-l {
		background-size: 350px;
	}

	.calc__wrap {
		max-width: 100%;
	}

	.trans-l {
		background-size: 500px;
	}

	.calc {
		padding-top: 30px;
		padding-bottom: 50px;
	}

	#next-step {
		width: 164px;
		height: 41px;
	}

	.why {
		padding-top: 30px;
	}

	.consult__main h2 {
		margin-bottom: 25px;
	}

	.consult__main-desc {
		font-size: 15px;
	}

	.to-work__items {
		max-width: 100%;
	}


	.slide-brend {
		padding-top: 40px;
		padding-bottom: 50px;
	}

	.consult__main-desc {
		padding: 13px 12px;
	}

	h2.title--small {
		margin-bottom: 35px;
	}

	.contract {
		padding-bottom: 70px;
	}

	.accordion {
		width: 100%;
		margin: 0 auto;
	}


	.consult {
		padding-bottom: 50px;
	}

	.to-work {
		padding-top: 50px;
		padding-bottom: 50px;
	}

	.slide-portfolio {
		padding-top: 40px;
		padding-bottom: 50px;
	}

	.slide-certif {
		padding-top: 40px;
		padding-bottom: 50px;
	}

	.contract-l h2 {
		margin-bottom: 35px;
		text-align: center;
	}

	.contract::before {
		left: 0;
		top: 424px;
	}

	.contact__map-wrap iframe {
		height: 330px;
	}

	.nav__footer .nav-c__wrap {
		justify-content: center;
	}

	.nav__footer .nav-c__wrap .nav-c__phone {
		margin-bottom: 7px;
	}

	.reviews {
		padding-top: 40px;
		padding-bottom: 50px;
	}

	.answers {
		padding-top: 40px;
	}

	.accordion {
		font-size: 15px;
		padding: 9px 14px;
		padding-right: 47px;
	}

	.accordion::before {
		right: 17px;
	}

	.to-work .container-fluid {
		padding-left: 15px;
		padding-right: 15px;
	}

	.nav__footer>div:nth-child(4)>a:nth-child(1) {
		display: none;
	}

	.accordion-content {
		width: 93%;
	}

	.accordion {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.accordion-content {
		margin-left: 13px;
	}

	.answers__tabs {
		position: relative;
	}
}

@media(max-width:480px) {
	.container {
		padding: 0 10px;
	}

	.nav__header .nav-c__phone:nth-child(1) {
		margin-right: 0;
	}

	.trans-r {
		box-shadow: none;
	}

	.trans-r li::before {
		background-size: 1200px;
	}

	.trans-r li:nth-child(2)::before {
		background-position: -688px 6px;
	}

	.trans-r li:nth-child(3)::before {
		background-position: -811px 4px;
	}

	.why__wrap li {
		width: 290px;
		height: 98px;
		padding-left: 95px;
	}

	.why__wrap li::before {
		width: 276px;
	}

	.why__wrap li {
		line-height: 1.4;
		padding-right: 8px;
	}

	.why__wrap li::after {
		left: 0px;
		background-position: 12px -6px;
		background-size: 410px;
	}

	.why__wrap li:nth-child(2)::after {
		background-position: -99px -4px;
	}

	.why__wrap li:nth-child(3)::after {
		background-position: -209px -6px;
	}

	.why__wrap li:nth-child(4)::after {
		background-position: -332px -4px;
	}

	.header__present {
		width: 286px;
		padding: 12px 55px 6px 1px;
	}

	.header__present::before {
		right: -14px;
	}

	.trans-l {
		background-size: 374px;
		opacity: 0.3;
	}

	.trans-r {
		background-color: transparent;
	}

	.trans-l {
		left: 62px;
	}

	.header__main-desc {
		font-size: 16px;
	}

	.trans-r {
		padding: 0;
	}

	.trans-r li {
		padding-left: 0;
	}

	.trans-r li::before {
		background-position: -565px 7px;
	}

	.calc__wrap {
		padding: 16px 0px;
	}

	.trans-r li::before {
		top: 53%;
		left: -16px;
		width: 104px;
		height: 104px;
		z-index: -1;
		opacity: 0.2;
	}

	.step-button__inner {
		flex-wrap: wrap;
		flex-direction: column-reverse;
		height: 110px;
	}

	.why__wrap li::after {
		width: 95px;
		height: 95px;
	}

	.why__wrap li {
		margin-bottom: 26px;
	}

	.nav__header>div:nth-child(4)>div:nth-child(2)>a:nth-child(1) {
		display: none;
	}

	.why {
		margin-bottom: 50px;
	}

	.consult {
		padding-top: 40px;
	}

	.slide-brend {
		padding-top: 30px;
	}

	.radio__wrap {
		width: 282px;
		justify-content: space-between;
	}

	.radio__wrap .radio__item {
		max-width: 100%;
	}

	.main__form form {
		width: 100%;
	}

	.form__border {
		padding: 0;
	}

	.form-input__tel {
		width: 240px;
		height: 50px;
		font-size: 15px;
	}

	.btn {
		width: 240px;
		height: 50px;
	}

	.btn--blue {
		font-size: 15px;
	}

	.main__form-inner {
		padding: 10px 8px;
	}

	.form__checkbox-desc {
		width: 100%;
		padding-left: 28px;
		margin-bottom: 10px;
	}

	.form__checkbox-desc::before {
		left: 3px;
	}

	.to-work li {
		height: 181px;
		padding-left: 0;
		padding-top: 56px;
	}

	.to-work li::before {
		left: 39px;
		width: 154px;
		height: 123px;
	}

	.to-work li::after {
		width: 220px;
		height: 200px;
		background-position: 9px 32px;
		background-size: 1200px;
		left: 131px;
		opacity: 0.2;
		z-index: -1;
	}

	.to-work li:nth-child(2)::after {
		background-position: -318px 11px;
	}

	.to-work li:nth-child(3)::after {
		background-position: -650px 6px;
	}

	.to-work li:nth-child(4)::after {
		background-position: -995px 8px;
	}

	.to-work li {
		align-items: center;
		text-align: center;
	}

	.to-work li::before {
		top: 22%;
	}

	.to-work li::after {
		top: 38%;
	}

	.to-work__items {
		background-image: none;
	}

	.to-work li::after {
		z-index: 1;
	}

	.to-work li::before {
		background-color: transparent;
		z-index: 1;
	}

	.form__inner-after::before {
		width: 284px;
	}

	.contract {
		padding-top: 30px;
	}
	.contract-r a {
		left: calc(50% - 120px);
	}

	.slide-certif {
		padding-bottom: 40px;
	}

	.contact__form-wrap {
		max-width: 100%;
	}

	.contact__form {
		padding: 14px 5px;
	}

	.nav__footer .nav-desc {
		text-align: center;
	}

	.nav__footer .nav-c__wrap .nav-c__phone {
		margin-bottom: 8px;
		font-size: 15px;
	}
	.form__title {
		max-width: 300px;
		padding-top: 10px;
	}

	.nav__header .nav-contact {
		max-width: 285px;
	}

	.nav__header .nav-contact {
		justify-content: flex-end;
	}
	.btn {
		z-index: 2;
	}



}